/* You can add global styles to this file, and also import other style files */

html { height: 100%; }
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 95vw; 
    margin:0 auto;
    min-height: 95vh;
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
}

